# Ignore project-specific folders
COMP371_Project/data/
COMP371_Project/wip/

# Ignore configuration folders
Debug/
Release/

# Ignore VS-specific project files and folders
.vs/
*.sln
*.vcxproj
*.vcxproj.*

# Ignore MS Word temporary files
~$*
